/data/
.idea/
**/__pycache__
**/.ipynb_checkpoints
**/*.pyc
tmp_results/
venv/
vk_config*.json
research/spark/dist/
research/spark/worker-dir/*
# research/spark/mock_data/
# research/spark/unused_mock_data/
research/spark/data/
