data/
!service/**/data/
.idea/
**/__pycache__
**/.ipynb_checkpoints
**/*.pyc
tmp_results/
venv/
vk_config*.json
research/spark/dist/
research/spark/worker-dir/
research/spark/data/

research/spark/worker_dir/
worker_dir/

