    [[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
vk-api = "*"
pymongo = "*"
tqdm = "*"
pyspark = "*"
bidict = "*"

[dev-packages]
matplotlib = "*"
jupyterlab = "*"
