    [[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
jupyterlab = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
vk-api = "*"
fastapi = "*"
pymongo = "*"
tqdm = "*"

[dev-packages]
